alias ll='ls -alF'
alias la='ls -A'
alias l1='ls -1'
alias 1='l1'
alias la1='ls -A1'
alias l='ls -CF'
alias bc='bc -l'
alias go='gnome-open'
alias md5='md5sum'                    
alias xc='xclip -selection clip-board'
alias g='grep'                        
alias fr='file-roller'                
alias gmp='gnome-mplayer'
alias vit='vim -p'
alias vis='vim -O'
alias psg='ps aux | grep'
alias :q='exit'
alias dc='cd'
alias aptu='sudo aptitude update'
alias apts='aptitude search'
alias apti='sudo aptitude install'
alias kcat='jps -lm | grep catalina | cut -d " " -f 1 | xargs kill -9'
alias lcat='jps -lm | grep catalina'
alias getmvnsrc='mvn dependency:sources && mvn dependency:resolve -Dclassifier=javadoc'
alias svngrep="find . \( \( ! -name .svn -and ! -name target \) -o -prune \) -type f -print0 | xargs -0 grep"
alias pip-upgrade='pip freeze --local | cut -d = -f 1  | xargs pip install -U'
alias poke='gnome-screensaver-command -d'
alias dus='du -sh *'
