alias ll='ls -alF'
alias lh='ls -lhF'
alias la='ls -AF'
alias l1='ls -1F'
alias 1='l1'
alias la1='ls -A1'
alias l='ls -CF'
alias c='clear'
alias tre='tree -F --filelimit 15'
alias bc='bc -ql'
alias go='gnome-open'
alias md5='md5sum'                    
alias xc='xclip -selection clip-board'
alias g='grep'                        
alias fr='file-roller'                
alias gmp='gnome-mplayer'
alias v='vim'
alias vit='vim -p'
alias vis='vim -O'
alias psg='ps aux | grep'
alias pstree='ps -AHwef'
alias :q='exit'
alias dc='cd'
alias aptu='sudo aptitude update'
alias aptsu='sudo aptitude safe-upgrade'
alias apts='aptitude search'
alias apti='sudo aptitude install --without-recommends'
alias kcat='jps -lm | grep catalina | cut -d " " -f 1 | xargs kill -9'
alias lcat='jps -lm | grep catalina'
alias svngrep="find . \( \( ! -name .svn -and ! -name target \) -o -prune \) -type f -print0 | xargs -0 grep --color"
alias sg='svngrep'
alias gitgrep="find . \( \( ! -name .git -and ! -name target \) -o -prune \) -type f -print0 | xargs -0 grep --color"
alias pip-upgrade='pip freeze --local | cut -d = -f 1  | xargs pip install -U'
alias poke='gnome-screensaver-command -d'
alias dus='du -sh *'
alias f='fndi'
alias mvn-get-src='mvn dependency:sources && mvn dependency:resolve -Dclassifier=javadoc'
alias mvn-find-updates='mvn versions:display-dependency-updates versions:display-plugin-updates'
alias gitst='git st'
alias gst='git st && git lg'
alias svnst='svn st'
alias ss='svn st'
alias svd='svn diff -x -b | vim -'
alias sl='svn log -l 30 | nicelogs'
alias t='tail'
alias tf='tail -f'
alias mtr='mtr -o LDSNABWV'
alias colerr='exec 2>>( while read X; do print "\e[91m${X}\e[0m" > /dev/tty; done & )'
alias fcount='find . -xdev -type f | cut -d "/" -f 2 | sort | uniq -c | sort -n'
alias uwc='tr -s " " | tr " " "\n" | tr "[:upper:]" "[:lower:]" | sort | uniq -c | sort -gr'
alias gnome-disc-util='palimpsest'
alias vissh='vi ~/.ssh/config'

function b() {
  echo "$@" | bc
}
funcation b-fromhex() {
  echo "ibase=16; $1"|bc
}
funcation b-tohex() {
  echo "obase=16; $1"|bc
}
funcation b-frombin() {
  echo "ibase=2; $1"|bc
}
funcation b-tobin() {
  echo "obase=2; $1"|bc
}
