alias ll='ls -alF'
alias lh='ls -lhF'
alias la='ls -AF'
alias l1='ls -1F'
alias 1='l1'
alias la1='ls -A1'
alias l='ls -CF'
alias lnew='ls -lhrtc | tail'
alias lbig='ls -lhrsS | tail'

function adv_ls() {
  alias  1='LC_ALL=C ls -1F  --group-directories-first'
  alias  l='LC_ALL=C ls -CF  --group-directories-first'
  alias ll='LC_ALL=C ls -alF --group-directories-first'
  alias lh='LC_ALL=C ls -lhF --group-directories-first'
}

alias gh='cat ~/.zsh_history | grep'
alias c='clear'
alias tre='tree -F --filelimit 15'
alias bc='bc -ql'
alias go='gnome-open'
alias xc='xclip -selection clip-board'
alias grep='grep --color=auto'                        
alias g='grep'                        
alias fr='file-roller'                
alias gmp='gnome-mplayer'

alias v='vim'
alias vit='vim -p'
alias vis='vim -O'
alias v-='vim -'
alias -- -='vim -R -'

alias vissh='vi ~/.ssh/config'
alias psg='ps aux | grep'
alias pstree='ps -AHwef'
alias :q='exit'
alias dc='cd'

alias fxml='xmllint --format - | pygmentize -l xml'

alias aptu='sudo aptitude update'
alias aptsu='sudo aptitude safe-upgrade -V'
alias apts='aptitude search'
alias aptsh='aptitude show'
alias apti='sudo aptitude install --without-recommends'

alias kcat='jps -lm | grep catalina | cut -d " " -f 1 | xargs kill -9'
alias lcat='jps -lm | grep catalina'

alias pip-upgrade='pip freeze --local | cut -d = -f 1  | xargs pip install -U'
alias poke='gnome-screensaver-command -d'
alias dus='du -sh *'
alias f='fndi'
alias mci='mvn clean install'
alias mvn-get-src='mvn dependency:sources && mvn dependency:resolve -Dclassifier=javadoc'
alias mvn-find-updates='mvn versions:display-dependency-updates versions:display-plugin-updates'
alias t='tail'
alias tf='tail -f'
alias mtr='mtr -o LDSNABWV'
alias colerr='exec 2>>( while read X; do print "\e[91m${X}\e[0m" > /dev/tty; done & )'
alias fcount='find . -xdev -type f | cut -d "/" -f 2 | sort | uniq -c | sort -n'
alias uwc='tr -s " " | tr " " "\n" | tr "[:upper:]" "[:lower:]" | sort | uniq -c | sort -gr'
alias gnome-disc-util='palimpsest'
alias mgsvc='sudo sysv-rc-conf'
alias wifi='wicd-curses'

alias share_http='python -m SimpleHTTPServer 44444'

alias svngrep="find . \( \( ! -name .svn -and ! -name target \) -o -prune \) -type f -print0 | xargs -0 grep --color"
alias sg='svngrep'
alias snv='svn'
alias svnst='svn st'
alias ss='svn st'
alias svd='svn diff -x -b | vim -R -'
alias svdf='svn diff --diff-cmd vimdiffsvn'
alias sl='svn log -l 30 | nicelogs'
alias sup='svn up'
alias svp='svn up'

alias gitgrep="find . \( \( ! -name .git -and ! -name target  -and ! -name bin \) -o -prune \) -type f -print0 | xargs -0 grep --color"
alias gg='gitgrep'
alias gitst='git st'
alias gst='git st && git lg'
alias gdf='git df | vim -R -'
alias gdfc='git df --cached | vim -R -'

function s() {
  if [ -e './.svn' ] || svn info > /dev/null 2>&1 ; then
    if [ $# -lt 1 ] ; then
      svn status
    else
      svn "$@" 
    fi
  elif [ -e './.git' ] || git rev-parse --git-dir > /dev/null 2>&1; then
    if [ $# -lt 1 ] ; then
      git status .
    else
      git "$@"
    fi
  else
    echo "Unknown SCM."
  fi
}

function b() {
  echo "$@" | bc
}
function hextobin() {
  in="$(echo $1 | tr "[:lower:]" "[:upper:]")"
  echo "ibase=16; obase=2; $in"|bc
}
function bintohex() {
  echo "obase=16; ibase=2; $1"|bc
}
function hextodec() {
  in=$(echo $1 | tr "[:lower:]" "[:upper:]")
  echo "ibase=16; $in"|bc
}
function dectohex() {
  echo "obase=16; $1"|bc
}
function bintodec() {
  echo "ibase=2; $1"|bc
}
function dectobin() {
  echo "obase=2; $1"|bc
}

alias utime='date +%s'
alias etime='date -r'

alias mon='nc localhost 33898'
